

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F1FAEE;
}



li, a {
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    background-color: #A8DADC;
}

header {
    display: flex;
    justify-content: flex;
    align-items: center;
    padding: 30px 10%;
    background-color: #A8DADC;
}


.imagen1{
    background-color: #A8DADC ;
    width: 200px;
    height: 200px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    background-color: #A8DADC;
    ;
    
}


.navs {
    list-style: none;
    background-color: #A8DADC;
}

.navs li {
    display: inline-block;
    padding: 0px 20px;

}

.navs li a {
    transition: all 0.3s ease 0s;

}
.navs li a:hover {
    color: #1D3557;
}
.our-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
   }
.our-slogan img {
    width: 350px;
    position: relative;
    margin-left: 2px;
}
.slogan {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 4rem;
    padding: 3rem;
    margin: 3.5rem;
    }
.our-slogan p {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    color: black;
    margin: 1rem 0 2rem 0;
    padding: 0 1rem;
    }
.our-slogan button {
    width: 20rem;
    height: 5rem;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: #457B9D;
    cursor: pointer;
}
.about__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}
.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.about__content img {
    width: 350px;
}
.about__content p {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
    padding: 0 1rem;

}
.about__section h1 {
    text-align: center;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1050px) {

   .logo {
       width: 14.5rem;
   }
   .menu-btn{
       display: none;
   }
   .menu {
       display: flex;
       flex-wrap: nowrap;
    }
   .lista {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       font-size: 1.3rem;
   }
   .item {
        font-size: larger;
        font-weight: 800;
    }

    .our-slogan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: rem;
   }
   
   .our-slogan img {
       width: 450px;
   }
   
   .about__content {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       padding: 3rem;
   }

   .about__content img {
      width: 450px;
   }
